<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Monthly Ledger{% endtrans %}</title>
<style type="text/css">
.shadow {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
  font-size: 80%;
}

th {
  font-size: 85%;
}

.calign{
    text-align:center;

}
  .ralign{
    text-align:right;

  }
.mdwrap{
	width:6%
}

.smwrap1{
	width:15%
}

.smwrap2{
  width:18%
}

.smwrap3{
  width:20%
}

.cred{
    color:red;
  }


</style>
</head>
<body>
  <div id="monthdiv" class="container-fluid">
    <div class="panel">
      <div class="panel-heading">
        <center><span style="margin:auto; display:table;"><i>{% trans %}Ledger Account{% endtrans %}</i> : <strong>{{accountname}}</strong></span></center>
        <input type="hidden" id="accname" name="projectname" value="{{accountname}}"></input>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="mthltable" class="shadow table table-bordered table-condensed tabledesign">
            <thead class="bg-primary">
              <tr>
                <th class="mdwrap calign">{% trans %}Month{% endtrans %}</th>
                <th class="smwrap1 ralign">{% trans %}Debit Balance{% endtrans %}</th>
                <th class="smwrap2 calign">{% trans %}No. of Debit Records{% endtrans %}</th>
                <th class="smwrap1 ralign">{% trans %}Credit Balance{% endtrans %}</th>
                <th class="smwrap2 calign">{% trans %}No. of Credit Records{% endtrans %}</th>
                <th class="smwrap3 calign">{% trans %}No. of Unlocked Transactions{% endtrans %}</th>
              </tr>
            </thead>
            <tbody>
              {% for record in records %}
              <tr  value="{{record['period']}}">
                <td class="mdwrap calign">
                  <a class="monthname" href="#">{{record['month']}}</a>
                </td>
                {%if record["advflag"]==1%}
                <td class="smwrap1 ralign cred">
                  <b>{{record["Dr"]}}</b>
                </td>
                <td class="smwrap2 calign">
                  <b>{{record["vcountDr"]}}</b>
                </td>
                <td class="smwrap1 ralign cred">
                  <b>{{record["Cr"]}}</b>
                </td>
                <td class="smwrap2 calign">
                  <b>{{record["vcountCr"]}}</b>
                </td>
                <td class="smwrap3 calign">
                  <b>{{record["vcount"]-record["vcountLock"]}}</b>
                </td>
                <td class="smwrap1 visible-print ralign cred">
                  {% if record.Dr %}
                    <b>({{record["Dr"]}})</b>
                  {% endif %}
                </td>
                <td class="smwrap1 visible-print ralign cred">
                  {% if record.Cr %}
                    <b>({{record["Cr"]}})</b>
                  {% endif %}
                </td>
                {%else%}
                <td class="smwrap1 ralign">
                  {{record["Dr"]}}
                </td>
                <td class="smwrap2 calign">
                  <b>{{record["vcountDr"]}}</b>
                </td>
                <td class="smwrap1 ralign">
                  {{record["Cr"]}}
                </td>
                <td class="smwrap2 calign">
                  <b>{{record["vcountCr"]}}</b>
                </td>
                <td class="smwrap3 calign">
                  <b>{{record["vcount"]-record["vcountLock"]}}</b>
                </td>
                {%endif%}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer hidden-print">
        <span style="margin:auto; display:table;">
          <button type="button" class="btn btn-sm btn-danger" id="mthlback" accesskey="a"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}B<u>a</u>ck{% endtrans %}</button>
        <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
        <button class="btn btn-sm btn-info" type="button"  id="realprintmonth" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}Prin<u>t</u>{% endtrans %}</button>
      </span>
      </div>
    </div>
    <input type="hidden" id="accountcode" value="{{accountcode}}">
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/monthledger.js')}}"></script>
</body>
</html>
